.drawer.drawer-new {
    z-index: 1001;
}

.drawer-new .drawer__title {
    font-size: 16px;
    text-align: center;
}

.drawer-new {
    --padding-inline: 16px;
    --fixed-header-height: 64px;
}

.drawer-new .drawer__close {
    position: absolute;
    right: 0;
    width: auto;
}

.drawer-new .drawer__close .drawer__close-button {
    right: 0;
}

.drawer-new .drawer__fixed-header {
    height: var(--fixed-header-height);
}

.drawer-new .drawer__header {
    height: 100%;

}

.drawer-new .drawer-left-top-text {
    color: var(--color);
    background-color: var(--bg);
    padding-inline: var(--padding-inline);
    padding-block: 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}

.drawer-new .drawer__header {
    border-bottom: 0;
    display: flex;
    align-items: center;
}

.drawer-new .drawer__fixed-header {
    border-bottom: 1px solid;
    border-bottom-color: #DEDEDE;
}

.drawer-new .drawer__top-pick-title {
    font-size: 16px;
    width: 91%;
    margin: 0 auto;
    font-weight: 600;
    padding-block: 15px 10px;
}

.drawer-new .drawer__top-pick {
    background: #eee;
}

.drawer-new .drawer__top-pick .cart__item--details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.drawer.drawer-new .drawer__inner .cart__item--details .cart__item--qty {
    grid-column: 1;
}

.drawer.drawer-new .drawer__inner .cart__item--details .cart__item--price {
    grid-column: 2;
    margin-left: 0;
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.drawer-new .cart__item--price.normal-price {
    font-weight: 600;
}
.drawer-new .cart__item--price .sale-price {
    font-weight: 600;
}

.drawer.drawer-new .drawer__inner .cart__item--details .cart__item--price .cart__price {
    text-align: left;
    font-weight: bold;
}

.drawer-new .cart__item {
    grid-gap: 12px;
    align-items: center;
}

.drawer-new .drawer__top-pick .cart__item {
    grid-template-rows: repeat(1, [row] auto);
}

.drawer-new .js-qty__adjust {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 1.7px;
}

.drawer-new .js-qty__num {
    border-radius: 1.7px;
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 12px;
    margin-left: 29px;
    font-weight: 600;
}

.drawer-new .js-qty__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 82px;
}

.drawer-new .cart__variant-meta {
    color: #999;
    font-size: 14px;
    margin-bottom: 12px;
}

.drawer-new__cart-layout {
    display: flex;
    height: calc(100% - 95px);
    flex: 1;
}

.drawer-new.drawer--right {
    width: 850px;
    max-width: 100vw;
}

.drawer-new .drawer__inner {
    width: 50%;
    position: relative;
}

.drawer-new .drawer__top-pick.sm\:hidden.md\:hidden {
    width: 50%;
    height: auto;
}

.drawer.drawer-new.is-empty .drawer__cart-empty {

    padding-inline: var(--padding-inline);
    padding-block: 30px;
}

.drawer-new .drawer__top-pick-items-scrollable {
    overflow: auto;
    height: 100%;
}

.drawer-new .drawer__top-pick-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #eeeeee;
    align-items: center;
}

.drawer-new .drawer__top-pick.sm\:hidden.md\:hidden .drawer__top-pick-items {
    padding-block: 0px calc(20px + var(--fixed-header-height));
}

.drawer-new .drawer__top-pick-item {
    border-radius: 10px;
    background: #FFF;
    width: 91%;
    padding: 12px 9px 8px 6px;
    position: relative;
    display: flex;
    align-items: center;
}

.drawer-new .drawer__top-pick-item .cart__item--price {
    grid-column: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 0;
    width: 100%;
}

.drawer-new .grid-product__price--original {
    font-size: 14px;
    color: #636363;
    margin-right: 0;
}



.drawer-new .cart-cost-item {
    display: flex;
    justify-content: space-between;
}

.drawer-new .cart-cost-items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 14px;
    margin-bottom: 25px;
    padding-top: 12px;
    /* padding-inline: var(--padding-inline); */
}

.drawer-new .drawer__scrollable {
    padding-inline: 0;
    padding-top: 0;
}

.drawer.drawer-new.is-empty .drawer__inner {
    display: flex;
}

.drawer.drawer-new.is-empty .drawer__products {
    display: none;
}

.drawer.drawer-new.is-empty .cart-cost-items {
    display: none;
}

.drawer-new .drawer__products {
    /* padding-inline: var(--padding-inline); */
    /* padding-top: 8px; */
}

.drawer-new .drawer-bottom-content {
    padding-bottom: 10px;
    border: 0 solid #DEDEDE;
    border-top-width: 1px;
    padding-inline: var(--padding-inline);
}

.drawer-new .drawer__why {
    margin-top: 20px;
    padding-inline: 15px;
    padding-block: 12px;
    border-radius: 10px;
    background: #F4F4F4;

}

.drawer-new .drawer__why-layout {
    display: flex;
    flex-wrap: wrap;
    --gap: 3px;
    gap: 10px var(--gap);
}

.drawer-new .drawer__why-item {
    display: flex;
    align-items: center;
    width: calc(50% - var(--gap)* 1 / 2);
}

.drawer-new .drawer__why-svg {
    display: flex;
}

.drawer-new .drawer__why-text {
    font-size: 12px;
}

.drawer-new .drawer__why-title {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 12px;
}

.drawer-new .cart__item-top-pick-atc {
    display: inline-flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 999em;
    transition: ease 0.5 all;
    background: #282828;
}

.drawer-new .cart__item-top-pick-atc:hover {
    opacity: 0.5;
}

.drawer-new .cart__item-top-pick-atc-text {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.drawer-new .cart__item-top-pick-item {
    /* position: absolute;
    right: 9px;
    bottom: 8px; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.drawer-new .cart__item--saved-price {
    font-size: 12px;
    border-radius: 4px;
    background: #FC0;
    font-weight: bold;
    display: flex;
    margin-left: 0;
    padding: 5px 3px;
    line-height: 1;
}

.drawer.drawer-new .drawer__inner .new-cart__checkout {
    background: #07c160 !important;
    border-radius: 999em;
    font-weight: 600;
    color: #282828;
    padding-block: 14px;
    text-align: center;
    font-size: 18px;
}

.drawer-new .drawer__footer {
    padding-inline: var(--padding-inline);
    /* position: absolute; */
    /* bottom: 0; */
    background: white;
}

.drawer-new .cart__discount-wrapper {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.drawer-new .apply-discount-error-msg {
    width: 100%;
    color: crimson;
    font-size: 14px;
}

.drawer-new .cart__discount-field {
    display: flex;
    flex: 1;
}

.drawer-new input.cart__discount-field__input {
    border-radius: 999em;
    font-size: 14px;
    width: 100%;
    border-color: #B0B0B0;
}

.drawer-new .cart__discount-appy-button {
    background: #07c160 !important;
    border-radius: 999em;
    font-weight: 600;
    color: #282828;
    padding-block: 14px;
    text-align: center;
    font-size: 14px;
    width: 33%;
}

.drawer-new .cart__payment-wrapper {
    margin-top: 13px;
}

.drawer-new .cart__payment-wrapper img {
    height: auto;
    width: 100%;
}

.drawer-new .cart__reward-wrapper {
    display: flex;
    align-items: flex-start;
    width: 84%;
    margin: 0 auto;
    margin-top: 10px;
    column-gap: 3px;
}

.drawer-new .cart__reward-wrapper svg {
    margin-top: 2px;
}

.drawer-new .cart__reward-text {
    font-size: 14px;
    text-align: center;
}

.drawer-new .cart__reward-text a {
    text-decoration: underline;
}

.drawer-new .drawer__footer {
    padding-block: 10px;
}

.drawer-new .drawer__footer:after {
    border-width: 0;
}

@media (max-width: 1300px) {
    .drawer-new .cart__item-top-pick-atc-text {
        font-size: 12px;
    }
}

@media (min-width:750px) {
    .drawer-new .drawer__top-pick-item .cart__item--image {
        width: 80px;
    }
}

@media (max-width:749px) {
    .drawer.drawer-new.is-empty .drawer__cart-empty {
        width: 100%;
    }

    .drawer-new .cart__checkout-wrapper {
        margin-top: 14px;
    }

    .drawer-new .drawer__top-pick-item .cart__variant-meta {
        margin-bottom: 5px;
    }

    .drawer-new .cart__product-name {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .drawer-new .drawer__top-pick-items-scrollable {
        width: 93%;
        margin: 0 auto;
    }

    .drawer-new .drawer__top-pick-items {
        flex-direction: row;
        width: fit-content;
        align-items: stretch;
        gap: 8px;
    }

    .drawer-new .drawer__top-pick-item {
        width: 87.5vw;
        padding: 10px 9px 7px 2px;
    }


}

@media (max-width:819px) and (min-width:750px) {
    .drawer-new .drawer__top-pick-item .cart__item--price {
        flex-wrap: wrap;
    }
    .drawer-new .drawer__top-pick-item .cart__item-top-pick-item{
        flex: 1 0 auto;
    }
    .drawer-new .drawer__why {
        padding-inline: 7px;
    }
}

@media (max-width:819px) {
    .drawer.drawer-new .drawer__inner .cart__items .cart__item--details .cart__item--price {
        width: 100%;
        margin-top: 7.85px;
    }

    .drawer.drawer-new .cart__item--details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:749px) {
    .drawer-new .drawer__why {
        padding-inline: 7px;
    }

    .drawer-new .cart-cost-items {
        row-gap: 8px;
    }

    .drawer-new .cart__item-top-pick-atc {
        padding: 7px 15px;
    }

    .drawer-new .drawer__top-pick-title {
        width: 92%;
    }

    .drawer-new .drawer__top-pick-item .cart__item--price {
        gap: 2px;
    }

    .drawer-new .drawer__top-pick {
        padding-bottom: 20px;
        width: 100vw;
        margin-left: calc(0px - var(--padding-inline));
    }

    .drawer-new .drawer__footer {
        position: unset;
    }


}

.drawer-new .drawer__fixed-header {
    padding-left: 0;
    padding-right: 0;
}

/* cart-item-element s */

.drawer-new .cart-item-element {
    position: relative;
    display: block;
    padding: 23px 10px 0 0;
    padding-inline: var(--padding-inline);
    border: 0 solid #DEDEDE;
    border-bottom-width: 1px;
}

.drawer-new .cart__items .cart-item-element:nth-last-of-type() {
    border-bottom-width: 0px;

}

.drawer-new .cart-item-element-delte {
    position: absolute;
    display: block;
    right: 6px;
    top: 7px;
    cursor: pointer;

}

.drawer-new .cart-item-element-delte:hover {
    opacity: 0.5;
}

/* cart-item-element e */
@media only screen and (min-width: 590px) {
    .drawer-new .drawer__fixed-header {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:589px) {
    .drawer-new {
        --padding-inline: 13px;
    }

    .drawer-new .drawer__why {
        padding-inline: 10px 4px;
    }

    .drawer-new .drawer__why-layout {
        --gap: 0px;
    }

    .drawer-new .drawer__why-title {
        padding-left: 2px;
    }

    .drawer-new .drawer__inner .cart__items .cart__item {
        grid-template-columns: 110px 1fr;
    }

    .drawer-new .cart__reward-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 590px) {
    .drawer-new .cart__product-name {
        margin-bottom: 9px;
    }
}