 /* product edit */
 .product-service-guarantee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
    font-size: 14px;
  }
 
  .product-service-guarantee .customBlock_item a {
    display: flex;
    align-items: center;
  }
 
  .product__info-container .product__description {
    font-size: 1.2em;
    line-height: 1.3;
    margin: 1.5rem 0;
  }
 
  .product-service-guarantee .customBlock_item {
    width: 42%;
    margin-bottom: 30px;
  }
 
  .payment-icon-wrapper {
    border-bottom: 1px solid #E0E1DD;
    padding: 5px 0 15px;
    margin-bottom: 25px;
  }
 
  .payment-icon-wrapper img {
    max-width: 440px;
    height: auto;
    width: 100%;
  }
 
  .product-service-guarantee .custom-content p {
    margin: 0;
  }
 
  .product-service-guarantee .custom-image {
    line-height: 1;
  }
 
  .product-service-guarantee .customBlock_item .custom-content {
    margin-left: 15px;
    line-height: 1.3;
  }
 
  .product-service-guarantee .customBlock_item img {
    max-width: 28px;
    height: auto;
  }
 
  .selling-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
    width: 100%;
  }
 
  .selling-points .selling-points-item {
    width: 45%;
    color: #404040;
  }
 
  .selling-points .selling-points-item img {
    max-width: 28px;
    margin-right: 4px;
  }
 
  .selling-points {
    border-top: 1px solid #E0E1DD;
    padding: 25px 5px 5px;
    border-bottom: 1px solid #E0E1DD;
    margin-bottom: 30px;
    line-height: 1.3;
  }
 
  .selling-points .selling-points-item img {
    max-width: 38px;
    vertical-align: middle;
    margin-right: 11px;
  }
 
  .selling-points .selling-points-item {
    margin-bottom: 20px;
    font-size: 14px;
  }
 
  .discount_wrapper {
    padding: 8px 11px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background: rgb(var(--color-button));
    position: relative;
  }
 
  .discount_wrapper p {
    margin: 0;
    display: inline-block;
  }
 
  .pro-copycode {
    font-size: 14px;
    margin: 0 10px;
    float: right;
    text-decoration: underline;
    cursor: pointer;
    padding: 2px 0;
  }
 
  @media (max-width: 1100px) {
    .product-service-guarantee .customBlock_item {
      width: 44%;
      letter-spacing: 0;
      font-size: 12px;
    }
 
    .product-service-guarantee .customBlock_item:nth-child(odd) {
      width: 55%;
    }
 
    .product-service-guarantee .customBlock_item img {
      max-width: 26px;
    }
 
    .product-service-guarantee .customBlock_item .custom-content {
      margin-left: 8px;
    }
 
  }
 
 
  @media (max-width: 550px) {
    .selling-points {
      padding: 15px 0 10px;
    }
 
    .selling-points .selling-points-item {
      margin: 9px 0 16px;
      width: 48%;
      display: flex;
      align-items: center;
      letter-spacing: 0;
      font-size: 13px;
    }
 
    .selling-points .selling-points-item img {
      max-width: 30px;
      margin-right: 8px;
    }
 
    .discount_wrapper {
      padding: 7px 7px;
      letter-spacing: 0;
      font-size: 13px;
    }
 
    .pro-copycode {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
 
 
  }
 
 
  .template-product main .product_template,
  .template-product main .breadcrumb-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
 
  .template-product .product-tab-container .container {
    max-width: 1490px;
    padding: 0 20px;
  }
 
  .product_shop .product-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-right: 6%;
  }
 
  .product_template .product-price .price-item>span {
    font-size: 30px;
  }
 
  .product_template .product-price.price--on-sale .price-item--regular {
    text-decoration: none;
  }
 
  .product_template .product-price.price--on-sale .price-item--regular>span {
    font-size: 18px;
    text-decoration: line-through;
    font-weight: 500;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
  }
 
  .product_template .product_shop .discount_wrapper {
    flex: 0 1 100%;
    margin-top: 20px;
  }
 
  .short-description ul {
    font-size: 16px;
    border-top: 1px solid #E0E1DD;
    padding: 35px 0 15px 25px;
    /* border-bottom: 1px solid #E0E1DD;   */
    line-height: 1.6;
  }
 
  .short-description ul li,
  .short-description ul li span {
    color: #666 !important;
  }
 
  .short-description ul li {
    margin-bottom: 2px;
    list-style: inherit;
  }
 
  .product_template .selling-points {
    border-top: 1px solid #E0E1DD;
    padding: 35px 5px 15px;
  }
 
  @media (min-width: 993px) {
    .product_top.product_layout .product_photos {
      position: sticky;
      top: 80px;
      align-self: flex-start;
    }
 
    .product_template .class-product-tab .class-product-tab-inner .buy-now {
      right: 25px;
    }
  }
 
  /* .product_shop .product_form_wrapper{
    border-top: 1px solid #E0E1DD;
       padding: 35px 0 5px;
 } */
  .product_template .payment-icon-wrapper {
    margin-top: 35px;
  }
 
  .product_template .product-service-guarantee .customBlock_item .custom-content {
    margin-left: 20px;
    color: #666;
  }
 
  .product_template .product-service-guarantee .product-service-guarantee .customBlock_item {
    margin-bottom: 30px;
  }
 
  .template-product .product-service-guarantee .customBlock_item .custom-content p {
    font-size: 14px;
    color: #666;
  }
 
  .template-product .product_shop .product-form__item {
    max-width: 100%;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    border-top: 1px solid #E0E1DD;
    padding: 35px 0 10px;
  }
 
  .template-product .variant-textrich-wrapper {
    flex-wrap: wrap;
  }
 
  .template-product .swatch .form-label {
    font-size: 20px;
    margin-bottom: 18px;
  }
 
  .template-product .product-service-guarantee {
    margin-top: 36px;
  }
 
  .template-product .countdown #product-countdown {
    border: none;
    justify-content: flex-start;
  }
 
  .template-product .countdown .block-time {
    padding: 0;
    background-color: transparent;
    text-align: left;
    display: inline-block;
    width: auto;
  }
 
  .template-product .countdown .block-time .num {
    font-size: 17px;
    color: #fd5600;
    display: inline-block;
    vertical-align: middle;
  }
 
  .template-product .countdown .block-time .block-label {
    margin: 1px 5px 0 3px;
    display: inline-block;
    font-size: 16px;
    color: #666;
    text-transform: capitalize;
    vertical-align: middle;
    letter-spacing: 100vw;
    max-width: 15px;
  }
 
  .template-product .countdown .block-time+.block-time {
    border-left: none;
  }
 
  .template-product .countdown {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
 
  .template-product .countdown>span {
    margin: 3px 6px 0 0;
    color: #666;
    font-size: 16px;
  }
 
  .product_template .product_shop .product-price {
    margin: 10px 0 15px;
    flex-wrap: wrap;
  }
 
  .product_template .product-price .price-item+.price-item {
    margin-left: 0;
  }
 
  @media (max-width:1200px) {
    .product_template .product-price.price--on-sale .price-item--regular>span {
      vertical-align: sub;
    }
  }
 
  .product_template .product_shop .product-form__item label em {
    display: none;
  }
 
  .product_template .product_shop .discount_wrapper {
    padding: 14px 11px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(120deg, #fd5600, #fa722c);
  }
 
  .product_template .product-price .discount_wrapper span {
    font-size: 16px;
    font-weight: 700;
  }
 
  .product_template .product-price .discount_wrapper .pro-copycode {
    font-size: 14px;
    margin: 0 10px;
    float: right;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
  }
 
  .coupop-span {
    margin-right: 4px;
  }
 
  .product_template .product-price .discount_wrapper p {
    display: inline-block;
    margin: 0;
  }
 
  .product_template .shopify-payment-button .shopify-payment-button__more-options {
    background-color: #fd5600;
    padding: 14px;
    font-weight: 500;
    letter-spacing: .02em;
    font-size: 16px;
    border-radius: 8px;
    line-height: 1;
    padding: 17px 5px;
  }
 
  .product_template .shopify-payment-button {
    margin-right: 16px;
  }
 
  .product_template .product_shop .button-group .product-btn.product-form__cart-submit {
    margin: 16px 0 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 14px;
  }
 
  .product_template .product_photos .hover-to-zoom,
  .product_template .product_photos .big-image-dots,
  .product_template .product_photos .slider-nav {
    display: none;
  }
 
  .product_template .product_photos .slider-for {
    padding: 50px 70px 0;
  }
 
  .product_template .product_photos .slick-arrow svg use {
    color: #969696;
  }
 
  .product_template .product_photos .product-slider .slick-arrow {
    height: 44px;
    width: 44px;
    border: 1px solid #969696;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    padding-left: 3px;
  }
 
  .product_template .product_photos .product-slider .slick-arrow.slick-next {
    padding-left: 3px;
    right: 15px;
  }
 
  .product_template .product_photos .product-slider .slick-arrow.slick-prev {
    padding-right: 3px;
    left: 15px;
  }
 
  .changenav-item {
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 20px;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
  }
 
  .changenav-item img {
    width: 17px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
 
  .changenav-item.active {
    color: #fff;
    background: #434343;
  }
 
  .changenav-item.active img {
    filter: invert(1);
  }
 
  .phototop-item-2,
  .phototop-item-3 {
    display: none;
  }
 
  .phototop-item-video video {
    width: 100%;
    vertical-align: top;
  }
 
  .probot-changenav {
    margin: 40px 0;
  }
 
  .phototop-item-3 {
    text-align: center;
  }
 
  .product_template .product_shop .product-form__cart-submit {
    border-radius: 8px;
    border: 1px solid #E0E1DD;
  }
 
  .product_template .product_shop .button-group {
    margin-top: 0;
  }
 
  .phototop-item-3 model-viewer {
    width: 100%;
    min-height: 500px;
  }
 
  .selector-wrapper-color.swatch .swatch-element label {
    box-shadow: transparent 0 0 0px 1px;
    min-width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 7px solid transparent;
  }
 
  .selector-wrapper-color.swatch .swatch-element label span {
    box-shadow: inset transparent 0 0px 1px 0px;
    border-radius: 50%;
    border-color: none;
  }
 
  .selector-wrapper-color.swatch .swatch-element input:checked+label {
    box-shadow: #E8E8E8 0 0 0px 1px;
    min-width: 49px;
    height: 49px;
    border: 7px solid transparent;
  }
 
  .selector-wrapper-color.swatch .swatch-element label span {
    box-shadow: inset #eee 0 0px 1px 0px;
  }
 
  .selector-wrapper-color.swatch .swatch-element {
    margin: 0 20px 10px 0;
    padding: 1px;
  }
 
  .template-product .selector-wrapper-color.swatch .form-label {
    margin-bottom: 25px;
  }
 
  .selector-wrapper-product.swatch .swatch-element label {
    min-width: 100%;
    height: auto;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
  }
 
  .selector-wrapper-product.swatch .swatch-element input:checked+label {
    min-width: 100%;
    height: auto;
    border: 1px solid rgb(var(--color-button));
    border-radius: 5px;
    background-color: transparent;
  }
 
  .selector-wrapper-product.swatch .swatch-element input:checked+label .option-varitem-prci {
    color: rgb(var(--color-button));
  }
 
  .selector-wrapper-product.swatch .swatch-element label span {
    border: none;
  }
 
  .selector-wrapper-product.swatch .swatch-element {
    margin: 0 5px 35px 0;
  }
 
  .selector-wrapper-product.swatch .swatch-element:last-child {
    margin: 0 5px 10px 0;
  }
 
  .template-product .selector-wrapper-product.swatch .form-label {
    font-size: 20px;
    margin-bottom: 35px;
  }
 
  .selector-wrapper-product.swatch .swatch-element label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
    text-align: left;
  }
 
  .option-varitem-image {
    flex: 0 1 120px;
  }
 
  .option-varitem-text {
    flex: 0 1 calc(100% - 145px);
    text-align: left;
  }
 
  .option-varitem-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
  }
 
  .selector-wrapper-product .swatch-element:nth-child(n+3) .buywith_discount~.option-varitem-text {
    margin-top: 20px;
  }
 
  .option-varitem-prci {
    font-size: 18px;
    color: #666;
    letter-spacing: 0.01em;
  }
 
  .swatch .swatch-element label .option-varitem-prci span {
    padding: 0 3px;
  }
 
  .selector-wrapper-product.swatch .swatch-element label span.buywith_discount {
    display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    background: rgb(var(--color-button));
    color: #fff;
    border: none;
    line-height: 1;
    border-radius: 0 5px 0 14px;
    padding: 6px 12px;
  }
 
  .option-buywith {
    flex: 0 1 100%;
 
  }
 
  .option-buywith-label {
    flex: 0 1 100%;
    display: block !important;
    font-size: 16px;
    font-weight: 700;
    height: 2px;
    margin: 15px 0;
    background: #f1f1f1;
  }
 
  .option-buywith {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 15px;
  }
 
  .option-buywith-image {
    flex: 0 1 66px;
  }
 
  .option-buywith-text {
    flex: 0 1 calc(100% - 78px);
  }
 
  .option-buywith-title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.4;
    margin-bottom: 6px;
  }
 
  .option-buywith-prci {
    font-size: 14px;
    color: #666;
    letter-spacing: 0.01em;
    line-height: 1;
  }
 
  .swatch .swatch-element label .option-buywith-prci span {
    padding: 0 2px;
  }
 
  .option-buywith-title p {
    display: inline-block;
    margin: 0 0 0 4px;
  }
 
  .option-buywith-title p span {
    color: #000 !important;
  }
 
  .selector-wrapper-product label sup {
    top: 1px;
    font-size: 22px;
  }
 
  .labelpro-fixedbox {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    display: none;
  }
 
  .labelpro-fixedbox-item {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    padding: 3px;
  }
 
  .labelpro-del {
    padding: 12px 20px;
    border-bottom: 1px solid #DFDFDF;
    font-size: 20px;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    line-height: 32px;
    color: #000;
    z-index: 9;
    background: #fff;
  }
 
  .labelpro-del span {
    float: right;
    display: inline-block !important;
    width: auto !important;
    color: #999;
    font-size: 22px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
  }
 
  .labelpro-fixedbox .option-buywith-title {
    font-size: 18px;
    margin-bottom: 6px;
    padding: 0 25px 5px;
  }
 
  .labelpro-fixedbox .option-buywith-prci {
    font-size: 16px;
    padding: 0 25px 10px;
  }
 
  .labelpro-description {
    padding: 5px 22px 50px;
    font-size: 15px;
  }
 
  .labelpro-description li,
  .labelpro-description p {
    line-height: 1.3;
    margin: 0 0 8px;
    color: #000;
  }
 
  .labelpro-images .swiper-pagination span {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    display: inline-block !important;
  }
 
  .labelpro-fixedbox-item .labelpro-images {
    margin: 20px 15% 15px;
  }
 
  .labelpro-wrapper {
    overflow-y: scroll;
  }
 
  /* 设置滚动条的宽度和颜色 */
  .labelpro-wrapper::-webkit-scrollbar {
    width: 8px;
  }
 
  .labelpro-wrapper::-webkit-scrollbar-track {
    background: #fff;
  }
 
  .labelpro-wrapper::-webkit-scrollbar-thumb {
    background: #ddd;
  }
 
  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #ddd #fff;
  }
 
  .labelpro-wrapper {
    border-radius: 8px;
    max-height: 85vh;
    overflow-y: scroll;
    padding-top: 50px;
  }
 
  .class-product-tab .class-product-tab-inner .product-tab-item.active {
    color: #FD5600;
  }
 
  .product-tab-container .class-product-tab .ptcc-btn {
    background: #FD5600;
    border-color: #FD5600;
  }
 
  .template-product .page-container {
    overflow: unset;
  }
 
  .product_shop .product-title {
    color: #000;
  }
 
  #cartlogopro {
    width: 22px;
    height: auto;
    position: relative;
    z-index: 3;
    left: 15px;
    top: -2px;
  }
 
  .carthide-wrapper>#cartlogopro {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
 
  .new-product-page .section-product-banner {
    overflow: hidden;
  }
 
  .class-product-tab {
    background: #F5F5F7;
  }
 
  .class-product-tab .class-product-tab-inner .product-tab-item {
    color: #000;
  }
 
  .template-product .product-tab-container .product-price .price-item.price-item--regular {
    color: #666;
  }
 
  @media (max-width:1400px) {
    .product_shop .product-title {
      font-size: 28px;
      padding-right: 5%;
    }
 
    .option-varitem-title {
      margin-bottom: 4px;
    }
  }
 
  @media (max-width:1100px) {
    .product_top.product_layout .product_shop {
      width: 48%;
    }
 
    .product_shop .product-title {
      font-size: 25px;
      padding-right: 0;
    }
 
    .product_template .product-price .price-item>span {
      font-size: 28px;
    }
 
    .product_template .product-price.price--on-sale .price-item--regular>span {
      font-size: 17px;
      margin-left: 8px;
    }
 
    .option-varitem-image {
      flex: 0 1 90px;
    }
 
    .option-varitem-text {
      flex: 0 1 calc(100% - 110px);
    }
 
    .option-varitem-title {
      font-size: 18px;
      line-height: 1.3;
    }
 
    .option-varitem-prci {
      font-size: 16px;
    }
 
    .option-buywith-label {
      margin-top: 15px;
    }
 
    .option-buywith-title {
      font-size: 15px;
      line-height: 1.3;
    }
 
    .changenav-item {
      padding: 8px 20px;
      margin-right: 5px;
    }
 
    .product_template .product_shop .discount_wrapper {
      font-size: 15px;
    }
 
    .product-service-guarantee .product-service-guarantee .customBlock_item {
      width: 49%;
    }
 
  }
 
  @media (max-width:992px) {
    .template-product .product_top.product_layout {
      flex-wrap: wrap;
    }
 
    .product_top.product_layout .product_photos,
    .product_top.product_layout .product_shop {
      width: 100%;
      padding: 20px;
    }
 
    .product_template .product_photos .slider-for {
      max-width: 700px;
      margin: 0 auto;
    }
 
    .template-product .product-service-guarantee .customBlock_item .custom-image {
      max-width: 30px;
    }
 
    .gradient .page-width {
      padding: 0 15px;
    }
 
    .page-width .product--thumbnail_slider>div {
      width: 100%;
      padding: 15px;
    }
 
    .product__info-wrapper .product__info-container {
      max-width: unset;
    }
  }
 
  @media (max-width:768px) {
    .buy-now.mb {
      background: #F5F5F7;
    }
 
    .buy-now.mb .product-info .product-name {
      margin-right: 10px;
      color: #000;
    }
 
    .buy-now.mb .product-price .price-item {
      color: #000;
    }
 
    .template-product .product-tab-container .product-price .price-item.price-item--regular {
      color: #666 !important;
      margin-left: 5px;
    }
 
    .template-product .product-tab-container .product-price .price-item.price-item--regular span {
      font-size: 15px !important;
    }
 
    .buy-now.mb .product-info {
      padding: 12px 15px 2px;
    }
 
    .product_top.product_layout .product_photos,
    .product_top.product_layout .product_shop {
      padding: 5px 20px;
    }
 
    .product-tab-container .buy-now.mb .btn {
      padding: 8px 12px;
      background: #FD5600;
      border-color: #FD5600;
    }
 
    .product_template {
      padding-top: 20px;
    }
 
    .labelpro-fixedbox-item {
      top: 50%;
      margin: 0;
      max-width: 90%;
    }
 
 
  }
 
  @media (max-width:550px) {
    .page-width .product--thumbnail_slider>div {
      padding: 0;
    }
 
    .buy-now.mb .product-info .product-name {
      font-size: 24px;
      margin-right: 8px;
    }
 
    .product-tab-container .product-price span {
      font-size: calc(14px + .2vw);
    }
 
    .template-product .product-tab-container .product-price .price-item.price-item--regular {
      color: #666 !important;
      line-height: 1;
      margin-left: 3px;
      font-size: 14px;
    }
 
    .template-product .product-tab-container .container {
      padding: 0 12px;
    }
 
    .buy-now.mb .product-info {
      padding: 9px 3px 0 10px;
    }
 
    .class-product-tab .class-product-tab-inner {
      padding: 8px 0 15px;
    }
 
    .class-product-tab .class-product-tab-inner .product-tab-item {
      font-size: 14px;
      margin-right: 20px;
    }
 
    .product_top.product_layout .product_photos,
    .product_top.product_layout .product_shop {
      padding: 0;
    }
 
    .product_template .product_photos .slider-for {
      padding: 35px 20px 0;
    }
 
    .product_template .product_photos .product-slider .slick-arrow {
      height: 35px;
      width: 35px;
      line-height: 32px;
      padding-left: 3px;
    }
 
    .product_photos .product-slider .slick-arrow svg {
      width: 16px;
    }
 
    .product_template .product_photos .product-slider .slick-arrow.slick-next {
      right: -3px;
    }
 
    .product_template .product_photos .product-slider .slick-arrow.slick-prev {
      left: -3px;
    }
 
    .changenav-item {
      padding: 9px 20px 7px;
      border-radius: 8px;
      font-size: 13px;
    }
 
    .probot-changenav {
      margin: 22px 0 30px;
    }
 
    .product_shop .product-title {
      font-size: 20px;
      margin-bottom: 5px;
      line-height: 1.4;
    }
 
    .product_template .product-price .price-item>span {
      font-size: 22px;
    }
 
    .product_template .product-price.price--on-sale .price-item--regular>span {
      font-size: 15px;
      margin-left: 5px;
      vertical-align: sub;
    }
 
    .product_template .product_shop .product-price {
      margin: 5px 0 13px;
    }
 
    .product_template .product_shop .discount_wrapper,
    .product_template .product-price .discount_wrapper span {
      font-size: 13px;
    }
 
    .product_template .product-price .discount_wrapper .pro-copycode {
      font-size: 12px;
      margin: 0 0 0 10px;
    }
 
    .product_template .product_shop .discount_wrapper {
      padding: 13px 12px;
    }
 
    .template-product .countdown>span {
      font-size: 15px;
    }
 
    .template-product .countdown .block-time .num {
      font-size: 16px;
    }
 
    .template-product .countdown .block-time .block-label {
      margin: 0 5px 0 3px;
      font-size: 16px;
    }
 
    .product_shop .countdown {
      margin-bottom: 20px;
    }
 
    .short-description ul {
      font-size: 14px;
      padding: 26px 0 5px 24px;
    }
 
    .product_template .selling-points {
      padding: 25px 0 0;
    }
 
    .template-product .product_shop .product-form__item {
      padding: 28px 0 5px;
    }
 
    .template-product .swatch .form-label {
      font-size: 18px;
    }
 
    .selector-wrapper-color.swatch .swatch-element label {
      min-width: 38px;
      height: 38px;
      border: 5px solid transparent;
    }
 
    .selector-wrapper-color.swatch .swatch-element input:checked+label {
      min-width: 38px;
      border: 5px solid transparent;
      height: 38px;
    }
 
    .selector-wrapper-color.swatch .swatch-element {
      margin: 0 18px 10px 0;
    }
 
    .template-product .selector-wrapper-product.swatch .form-label {
      font-size: 18px;
      margin-bottom: 24px;
    }
 
    .selector-wrapper-product.swatch .swatch-element {
      margin: 0 5px 28px 0;
    }
 
    .selector-wrapper-product label sup {
      font-size: 19px;
    }
 
    .selector-wrapper-product.swatch .swatch-element label {
      padding: 18px;
      border-radius: 2px;
    }
 
    .option-varitem-image {
      flex: 0 1 70px;
    }
 
    .option-varitem-text {
      flex: 0 1 calc(100% - 80px);
    }
 
    .option-varitem-prci {
      font-size: 15px;
      line-height: 1;
    }
 
    .option-varitem-title {
      font-size: 15px;
      margin-bottom: 6px;
    }
 
    .option-buywith {
      padding: 0 0 8px;
    }
 
    .option-buywith-title p {
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
 
    .option-buywith-image {
      flex: 0 1 55px;
    }
 
    .option-buywith-title {
      font-size: 14px;
      line-height: 1.3;
      position: relative;
      padding-right: 30px;
    }
 
    .option-buywith-text {
      flex: 0 1 calc(100% - 80px);
    }
 
    .template-product .product_form_wrapper .button-group-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
 
    .template-product .shopify-payment-button {
      width: 50%;
    }
 
    .product_template .shopify-payment-button {
      margin-right: 0;
    }
 
    .product_template .shopify-payment-button,
    .product_template .product_shop .button-group .product-btn.product-form__cart-submit {
      flex: 0 1 calc((100% - 14px)/2) !important;
      font-size: 14px;
      padding: 0;
      margin: 0;
      border-radius: 5px;
    }
 
    .product_form_wrapper .button-group-wrapper {
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
    }
 
    .product_shop .shopify-payment-button__button--hidden {
      margin: 0;
      padding: 12px 10px;
    }
 
    .product_template .payment-icon-wrapper {
      margin-top: 28px;
    }
 
    .template-product .product-service-guarantee .customBlock_item .custom-content p {
      font-size: 12px;
    }
 
    .product-service-guarantee .product-service-guarantee {
      margin: 15px 0 0;
    }
 
    .product_template .product_top {
      margin-bottom: 10px;
    }
 
    .shopify-payment-button .shopify-payment-button__more-options:after {
      margin-left: 15px;
    }
 
    .product_template .shopify-payment-button .shopify-payment-button__more-options {
      font-size: 14px;
      border-radius: 5px;
      padding: 0px;
      margin: 0;
    }
 
    #cartlogopro {
      width: 19px;
      left: 30px;
    }
 
    .product-tab-container .ptcc-btn-wrapper {
      margin-top: 7px;
    }
 
    .buy-now.mb {
      padding-top: 5px;
    }
 
    .changenav-item img {
      width: 15px;
      margin-right: 8px;
    }
 
    .labelpro-fixedbox-item .labelpro-images {
      margin: 20px 10% 15px;
    }
 
    .product_template .product-service-guarantee .customBlock_item .custom-content {
      margin-left: 14px;
    }
 
    .labelpro-description {
      padding: 5px 15px 50px;
    }
 
    .labelpro-fixedbox .option-buywith-prci {
      padding: 0 20px 10px;
    }
 
    .labelpro-fixedbox .option-buywith-title {
      padding: 0 18px 5px;
    }
 
    .labelpro-del {
      padding: 12px 10px 12px 15px;
    }
 
    .template-product .product-tab-container .product-price .price-item.price-item--regular span {
      font-size: 13px !important;
    }
 
    #cartlogopro {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translateY(-50%);
    }
 
    .product_template .shopify-payment-button .shopify-payment-button__more-options {
      font-size: 0;
    }
 
    .product_template .shopify-payment-button .shopify-payment-button__more-options:after {
      font-size: 14px;
    }
  }
 
  #sca-gift-thumbnail {
    margin-top: 15px;
  }
 
  @media (max-width:400px) {
    .discount_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
    }
 
    .discount_wrapper p {
      width: 100%;
    }
  }
 
  @media (min-width:769px) and (max-width:790px) {
    .product-tab-container .buy-now.mb {
      display: none;
    }
 
  }
 
  @media (min-width:993px) and (max-width:1200px) {
    .product_template .shopify-payment-button {
      margin-right: 16px;
      min-width: 220px;
    }
 
    .product_template .product_shop .button-group .product-btn.product-form__cart-submit {
      flex: 0 1 auto;
    }
 
  }
 
  .product-form__input.selector-wrapper-product input[type=radio].disabled:checked+label {
    color: inherit;
  }
 
  @media (min-width:769px) {
    .option-varitem-title {
      margin-bottom: 10px;
    }
 
  }
 
  .product__info-wrapper.animate--slide-in {
    transform: none !important;
  }
 
  .product__info-wrapper {
    position: relative;
  }
 
  .product__media-wrapper {
    position: relative;
    z-index: 2;
  }
 
  fieldset.product-form__input .form__label,
  .product-form__quantity .form__label {
    font-size: 1.1em;
  }
 
  .product-form__input.selector-wrapper-product input[type=radio]+label:hover {
    border-color: rgb(var(--color-button));
  }
 
  /* product-card discount icon */
  .custom_product_discount {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 3;
    width: 60px;
  }
 
  .custom_product_discount img {
    width: 100%;
    height: auto;
  }
 
  .custom_product_discount .discount_num {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 10%;
    color: #fff;
    transform: translateX(-50%);
    line-height: 1.35;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    font-family: '__DINNextLT_df760e', '__DINNextLT_Fallback_df760e', -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
 
  }
 
  @media (max-width:767px) {
    .custom_product_discount {
      width: 45px;
    }
 
    .custom_product_discount .discount_num {
      font-size: 12px;
    }
  }
 .productnew-tnv30 a:hover {
    color: rgba(var(--color-text));
    text-decoration: none;
}
  /* product-card discount icon end */