 <button onclick="makeRequest()">发起请求</button>
  <div id="progress"></div>
    <div id="content"></div>
  <script>
    function makeRequest() {
      fetch('https://hourlishop.myshopify.com/collections/all').then(data => {
    console.log(data);
         document.getElementById('content').innerhtml = data
  });
    }
  </script> 


