
  <!-- <button onclick="makeRequest()">发起请求</button>
  <div id="progress"></div>
  <script>
    function makeRequest() {
      fetch('https://hourlishop.myshopify.com/pages/demo').then(response => {
        const reader = response.body.getReader();
        const contentLength = +response.headers.get('content-length');
        let receivedLength = 0; // 已接收的数据长度

        function read() {
          reader.read().then(({ done, value }) => {
            if (done) {
              return;
            }
            receivedLength += value.length;
            console.log(receivedLength+"=="+contentLength);
            document.getElementById('progress').innerText = '进度: ' + Math.round((receivedLength / contentLength) * 100) + '% 完成';
            read();
          });
        }

        read();
      });
    }
  </script> -->
