.bg-text-link {
    position: relative;
}

.bg-text-wrapper h2 {
    font-size: 3.65vw;
    line-height: 1.2;
}

.bg-text-link img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.bg-text-link .btn {
    margin-top: 10px;
}

.bg-text-link .btn240 {
    min-width: 240px;
    font-size: 18px;
}

@media (max-width: 749px) {
    .bg-text-link .btn240 {
        min-width: 200px;
        font-size: 16px;
    }
}